<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/ingredients/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div><%= recipe.recipeName %></div>
    <div>Ingredients:</div>
      <ul>
        <% recipe.items.forEach(item => { %>
          <li><%= item.ingredientName %> - <%= item.quantity %> <%= item.enum %></li>
        <% }) %>
      </ul>
    <div> Recipe Instructions:</div>
    <div><%= recipe.instructions %></div>
    <a href="/recipes/<%= recipe._id %>/edit">
      <button>Edit Recipe</button>
    </a>
  </section>
</main>

<%- include('../partials/footer') %>