<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/recipes/show.css">
<%- include('../partials/nav') %>

<main>
  <h1 class="main-title"><%= title %></h1>
  <section>
    <div class="title-text"><%= recipe.recipeName %></div>
    <div class="title-text">Ingredients:</div>
      <ul class="ingredient-text">
        <% recipe.ingredients.forEach(ingredient => { %>
          <li><%= ingredient.ingredientName %> - <%= ingredient.quantity %> <%= ingredient.unit %></li>
          <% if (recipe.owner.equals(user?.profile._id)) { %>
            <form action="/recipes/<%= recipe._id %>/ingredients/<%= ingredient._id %>?_method=DELETE" method="POST"><button type="submit" class="show-btns">Delete Ingredient</button>
            </form>
        <% } %>
        <% }) %>
      </ul>
    <div class="title-text"> Recipe Instructions:</div>
    <div class="ingredient-text"><%= recipe.instructions %></div>
    <% if (recipe.owner.equals(user?.profile._id)) { %>
    <a href="/recipes/<%= recipe._id %>/edit">
      <button class="show-btns">Edit Recipe</button>
    </a>
    <% } %>
  </section>
  <div class="line"></div>
  <h2 class="title-text">Comments</h2>
  <ul class="ingredient-text">
    <% recipe.comments?.forEach(comment => { %>
      <li>
        <%= comment.content%> 
        -&nbsp; 
        <img 
          class="comment-photo" 
          src="<%= comment.author.avatar %>" 
          alt="avatar of commenter"
        > 
        <a href="/profiles/<%= comment.author._id %>">
          <%= comment.author.name %>
        </a> 
        &nbsp;at 
        <%= comment.createdAt.toLocaleString() %>
        <% if (comment.author.equals(user?.profile._id)) { %>
          <form action="/recipes/<%= recipe._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
            <button class="show-btns">Delete Comment</button>
          </form>
            <a href="/recipes/<%= recipe._id %>/comments/<%= comment._id %>/edit">
              <button class="show-btns">Edit Comment</button>
            </a>
        <% } %> 
      </li>
    <% }) %>
  </ul>
  <% if (user) { %>
    <h3 class="title-text">Add a comment</h3>
    <form action="/recipes/<%= recipe._id %>/comments" method="POST">
      <textarea name="content"></textarea><br>
      <button type="submit" class="show-btns">Add Comment</button>
    </form>
  <% } %>
</section>
</main>


<%- include('../partials/footer') %>